APP_IMAGE=127.0.0.1:5000/pocker
APP_TAG=latest
APP_VERSION=
APP_BUILD=
CONTAINER_NAME=pocker
TRAEFIK_NETWORK=web
TRAEFIK_ENTRYPOINTS=websecure
TRAEFIK_CERT_RESOLVER=le
APP_HOST=pocker.webpaul.ru
ROOT_HOST=webpaul.ru
WWW_ROOT_HOST=www.webpaul.ru
REGISTRY_BIND_ADDR=127.0.0.1
REGISTRY_PORT=5000
REGISTRY_CONTAINER_NAME=pocker-registry
YOUTRACK_BASE_URL=
YOUTRACK_TOKEN=
YOUTRACK_STORY_POINTS_FIELD=Story points
